# IDEs
.idea/

# Hugo
resources/
public/
jsconfig.json
node_modules/
go.sum
.hugo_build.lock

# Local tooling / caches
.go/
.bin/
.tmp_public/
hugo.direct.sum

# Accidental generated/duplicate author asset
content/authors/avatar.jpg
