{{/* Custom block: biography (About-like layout without dot in filename) */}}

{{ $page := .wcPage }}
{{ $block := .wcBlock }}

{{ $author := "" }}
{{ if .author }}
  {{ $author = .author }}
{{ else }}
  {{ $author = $block.content.username }}
{{end}}

{{ $person_page_path := (printf "/authors/%s" $author) }}
{{ $person_page := site.GetPage $person_page_path }}
{{ if not $person_page }}
  {{ errorf "Could not find an author page at `%s`. Please check the value of `author` in your About widget and create an associated author page if one does not already exist." $person_page_path }}
{{end}}
{{ $person := $person_page.Params }}
{{ $avatar := ($person_page.Resources.ByType "image").GetMatch "*avatar*" }}
{{ $avatar_shape := site.Params.features.avatar.shape | default "circle" }}

<div class="row">
  <div class="col-12 col-lg-4">
    <div id="profile">

      {{ if site.Params.features.avatar.gravatar }}
      <img class="avatar {{if eq $avatar_shape "square"}}avatar-square{{else}}avatar-circle{{end}}" src="https://s.gravatar.com/avatar/{{ md5 $person.email }}?s=270')" alt="{{$person_page.Title}}">
      {{ else if $avatar }}
      {{/* Retina-friendly avatar to avoid blur on HiDPI screens */}}
      {{ $avatar_1x := $avatar.Fit "270x360 Center" }}
      {{ $avatar_2x := $avatar.Fit "540x720 Center" }}
      {{ $avatar_3x := $avatar.Fit "810x1080 Center" }}
      <img class="avatar avatar-rect"
           width="{{ $avatar_1x.Width }}" height="{{ $avatar_1x.Height }}"
           src="{{ $avatar_2x.RelPermalink }}"
           srcset="{{ $avatar_1x.RelPermalink }} 1x, {{ $avatar_2x.RelPermalink }} 2x, {{ $avatar_3x.RelPermalink }} 3x"
           alt="{{$person_page.Title}}">
      {{ end }}

      <div class="portrait-title">
        <h2>{{ $person_page.Title }}</h2>
        {{ with $person.role }}<h3>{{ . | markdownify | emojify }}</h3>{{ end }}
        {{ range $person.organizations }}
        <h3>
          {{ with .url }}<a href="{{ . }}" target="_blank" rel="noopener">{{ end }}
          <span>{{ .name }}</span>
          {{ if .url }}</a>{{ end }}
        </h3>
        {{ end }}
      </div>

      <ul class="network-icon" aria-hidden="true">
        {{ range $person.social }}
        {{ $pack := or .icon_pack "fas" }}
        {{ $pack_prefix := $pack }}
        {{ if in (slice "fab" "fas" "far" "fal") $pack }}
          {{ $pack_prefix = "fa" }}
        {{ end }}
        <li>
          <a href="{{ .link | safeURL }}" aria-label="{{ .icon }}">
            <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }} big-icon"></i>
          </a>
        </li>
        {{ end }}
      </ul>

    </div>
  </div>

  <div class="col-12 col-lg-8">
    {{ with $block.content.title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}

    {{ with $person_page.Content }}
    <div class="article-style">
      {{ . }}
    </div>
    {{ end }}

    <div class="row">
      {{ with $person.interests }}
      <div class="col-md-5">
        <div class="section-subheading">{{ i18n "interests" | markdownify }}</div>
        <ul class="ul-interests mb-0">
          {{ range . }}<li>{{ . | markdownify | emojify }}</li>{{ end }}
        </ul>
      </div>
      {{ end }}

      {{ with $person.education }}
      <div class="col-md-7">
        <div class="section-subheading">{{ i18n "education" | markdownify }}</div>
        <ul class="ul-edu fa-ul mb-0">
          {{ range .courses }}
          <li>
            <i class="fa-li fa-solid fa-graduation-cap"></i>
            <div class="description">
              <p class="course">{{ .course }}{{ with .year }}, {{ . }}{{ end }}</p>
              <p class="institution">{{ .institution }}</p>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
  </div>
</div>

